[submodule "libraries/crow"]
	path = libraries/crow
	url = https://github.com/CrowCpp/Crow.git
[submodule "libraries/spdlog"]
	path = libraries/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "libraries/libpqxx"]
	path = libraries/libpqxx
	url = https://github.com/jtv/libpqxx.git
[submodule "libraries/benchmark"]
	path = libraries/benchmark
	url = https://github.com/google/benchmark.git
[submodule "libraries/tomlplusplus"]
	path = libraries/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
