[submodule "libraries/crow"]
	path = libraries/crow
	url = https://github.com/CrowCpp/Crow.git
[submodule "libraries/spdlog"]
	path = libraries/spdlog
	url = https://github.com/gabime/spdlog.git
  branch = 16e0d2e7
[submodule "libraries/benchmark"]
	path = libraries/benchmark
	url = https://github.com/google/benchmark.git
[submodule "libraries/tomlplusplus"]
	path = libraries/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "libraries/fmt"]
	path = libraries/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libraries/googletest"]
	path = libraries/googletest
	url = https://github.com/google/googletest.git
[submodule "libraries/capstone-engine"]
	path = libraries/capstone-engine
	url = https://github.com/capstone-engine/capstone.git
[submodule "libraries/signatures"]
	path = libraries/signatures
	url = git@github.com:maldeclabs/signatures.git
[submodule "libraries/rapidjson"]
	path = libraries/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "libraries/jwt"]
	path = libraries/jwt
	url = https://github.com/Thalhammer/jwt-cpp.git
[submodule "libraries/lief"]
	path = libraries/lief
	url = git@github.com:maldeclabs/lief.git
[submodule "libraries/llama"]
	path = libraries/llama
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "libraries/tree-sitter-c"]
	path = libraries/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c.git
[submodule "libraries/lua"]
	path = libraries/lua
	url = https://github.com/lua/lua.git
[submodule "rules/rules-yara"]
	path = rules/rules-yara
	url = git@github.com:maldeclabs/rules-yara.git
[submodule "libraries/sol2"]
	path = libraries/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "libraries/unicorn"]
	path = libraries/unicorn
	url = https://github.com/unicorn-engine/unicorn.git
[submodule "libraries/libcpr"]
	path = libraries/libcpr
	url = https://github.com/libcpr/cpr.git
